<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>If</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
  <!-- <h1 v-if="ok">Yes</h1>
  <h1 v-else>No</h1> -->

  <!-- <template v-if="ok">
    <h1>Title</h1>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
  </template> -->

  <!-- <div v-if="Math.random() > 0.5">
    이제 나를 볼 수 있어요
  </div>
  <div v-else>
    이제는 안보입니다
  </div> -->

</body>
<script src="https://unpkg.com/vue"></script>
<script>
  new Vue ({

  })
</script>
</html>